.page-header{
  margin: 0;
}

.navbar{
  margin-bottom: 0;
}

.page-header{
	padding: 15rem 6rem;
	position: fixed;
}



.project-name{
	font-size: 4em;
}

.navbar-nav > li:hover{
	background-color: #e7e7e7;
}

.main-content{
	font-size: 2.0rem;
}